.contact_us {
    text-align: center;
}

.mail-text {
    margin: 25px auto;
    width: 95%;
    max-width: 700px;
    min-height: 130px;
}

.send-mail-loader {
    .loader {
        display: block;
        margin: 30px auto;
    }
}