/**
 * actions toolbar styles
 *
 * @author Yuriy Matviyuk
 */

.action {
    @add-mixin action_button;

    &:not(:first-of-type) {
        margin-left: 5px;
    }

    &.rating {
        &:before {
            content: $fa-trophy;
        }
    }

    &.menu {
        &:before {
            content: $fa-menu;
        }
    }

    &.account {
        &:before {
            content: $fa-user;
        }
    }

    &.home {
        &:before {
            content: $fa-home;
        }
    }

    &.notifications {
        &:before {
            content: $fa-ring;
        }

        .qty {
            position: absolute;
            display: block;
            color: $color-white;
            background: $color-red;
            font-size: 10px;
            font-weight: bold;
            width: 15px;
            top: 0;
            right: 0;
            height: 15px;
            line-height: 15px;
            text-align: center;
            z-index: 10;
            border-radius: 50%;
        }
    }

    &.edit {
        &:before {
            content: $fa-pen;
        }
    }

    &.battles {
        &:before {
            content: $fa-swords;
        }
    }

    &.remove {
        &:before {
            content: $fa-trash;
        }
    }

    &.close {
        &:before {
            content: $fa-x;
        }
    }

    &.like {
        &:before {
            content: $fa-heart;
        }
    }

    &.accept {
        &:before {
            content: $fa-check;
        }
    }

    &.add-photo {
        &:before {
            content: $fa-camera-alt;
        }
    }

    &.active:before {
        font-family: $font-family-FA-solid;
    }
}

.actions-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 5px 0;
}
