/**
 * actions toolbar styles
 *
 * @author Yuriy Matviyuk
 */

.action {
    @add-mixin action_button;

    &:not(:first-of-type) {
        margin-left: 5px;
    }

    &.rating {
        &:before {
            content: $fa-trophy;
        }
    }

    &.menu {
        &:before {
            content: $fa-menu;
        }
    }

    &.account {
        &:before {
            content: $fa-user;
        }
    }

    &.home {
        &:before {
            content: $fa-home;
        }
    }

    &.liked {
        &:before {
            content: $fa-heart;
        }
    }

    &.battles {
        &:before {
            content: $fa-swords;
        }
    }

    &.add-photo {
        &:before {
            content: $fa-camera-alt;
        }
    }
}

.actions-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 5px 0;
}
