html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{
    display:block;
}

*[hidden]{
    display:none;
}

body{
    line-height:1;
}

ol, ul{
    list-style:none;
}

blockquote, q{
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content:'';
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

@font-face{
    font-family:Comic Sans MS;
    src:url(/fonts/comic.ttf);
}

@font-face{
    font-family:Font Awesome;
    src:url(/fonts/fa-light-300.eot);
    src:url(/fonts/fa-light-300.eot?#iefix) format('embedded-opentype'),
         url(/fonts/fa-light-300.woff) format('woff'),
         url(/fonts/fa-light-300.woff2) format('woff2'),
         url(/fonts/fa-light-300.ttf) format('truetype'),
         url(/fonts/fa-light-300.svg) format('svg');
    font-weight:300;
    font-style:normal;
}

@font-face{
    font-family:Font Awesome solid;
    src:url(/fonts/fa-solid-900.eot);
    src:url(/fonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
         url(/fonts/fa-solid-900.woff) format('woff'),
         url(/fonts/fa-solid-900.woff2) format('woff2'),
         url(/fonts/fa-solid-900.ttf) format('truetype'),
         url(/fonts/fa-solid-900.svg) format('svg');
    font-weight:900;
    font-style:normal;
}

.MuiOutlinedInput-input.text-input, .select .MuiSelect-selectMenu{
    padding:15px 10px;
}

.field.text-input-wrapper, .field.select{
        margin-bottom:10px;
    }

label.MuiInputLabel-outlined{
    -webkit-transform:translate(10px, 15px) scale(1);
            transform:translate(10px, 15px) scale(1);
}

.action{
    cursor:pointer;
    position:relative;
    display:inline-block;
    text-align:center;
    height:35px;
    width:35px;
}

.action input{
        visibility:hidden;
        display:inline-block;
        height:0;
        width:0;
        overflow:hidden;
    }

.action:before{
        content:'';
        color:#2A2A2A;
        width:100%;
        height:100%;
        font-size:20px;
        line-height:36px;
        left:0;
        top:0;
        display:block;
        font-family:Font Awesome;
        position:absolute;
    }

.action:not(:first-of-type){
        margin-left:5px;
    }

.action.rating:before{
            content:'\f091';
        }

.action.menu:before{
            content:'\f39c';
        }

.action.account:before{
            content:'\f007';
        }

.action.home:before{
            content:'\f015';
        }

.action.notifications:before{
            content:'\f0f3';
        }

.action.edit:before{
            content:'\f304';
        }

.action.battles:before{
            content:'\f71d';
        }

.action.remove:before{
            content:'\f1f8';
        }

.action.close:before{
            content:'\f00d';
        }

.action.accept:before{
            content:'\f00c';
        }

.action.add-photo:before{
            content:'\f332';
        }

.action.active:before{
        font-family:Font Awesome solid;
    }

.actions-toolbar{
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
            align-items:center;
    justify-content:space-around;
    width:100%;
    margin:5px 0;
}

.login-title{
    text-align:center;
    margin-bottom:10px;
}

.registration-wrapper{
    padding:10px;
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
}

.registration-wrapper button{
        width:-webkit-max-content;
        width:-moz-max-content;
        width:max-content;
        min-width:150px;
        margin:auto;
    }

.user-container{
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:justify;
            justify-content:space-between;
}

.battle-user{
    position:relative;
    cursor:pointer;
    width:calc(50% - 5px)
}

.battle-user:before{
        content:'';
        border-radius:50%;
        display:block;
        position:absolute;
        top:5px;
        left:5px;
        height:20px;
        width:20px;
        line-height:20px;
        text-align:center;
        color:#FFFFFF;
    }

.battle-user:first-of-type:before{
        content:'1';
        background:#4A9000;
    }

.battle-user:nth-of-type(2):before{
        content:'2';
        background:dodgerblue;
    }

.battle-body{
    border:1px solid #dedede;
    border-radius:10px;
    box-shadow:0 0 5px -2px rgba(0,0,0,.7);
    padding:10px;
}

.user-qty{
    position:relative
}

.user-qty:before{
        position:absolute;
        text-align:center;
        line-height:30px;
        content:'';
        display:block;
        width:30px;
        height:30px;
        font-size:16px;
        top:0;
        left:0;
        font-family:Font Awesome solid;
    }

.user-likes:before{
    content:'\f004';
    color:#ff0000;
}

.user-rating:before{
    content:'\f091';
    color:gold;
}

.user-name{
    text-align:center;
    padding:10px 0;
    display:block;
}

.user-likes, .user-rating, .likes-qty{
    padding:7px 7px 7px 30px;
}

.battle-result{
    position:relative;
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
            align-items:center;
}

.share-form{
    display:-webkit-box;
    display:flex;
    margin-top:10px;
    -webkit-box-pack:center;
            justify-content:center;
}

.SocialMediaShareButton:not(:first-of-type){
    margin-left:10px;
}

.footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index:100;
    box-shadow:0 0 5px -2px rgba(0,0,0,.7);
    background:#FFFFFF;
}

.footer .actions-panel{
        display:-webkit-box;
        display:flex;
        -webkit-box-align:center;
                align-items:center;
        -webkit-box-pack:justify;
                justify-content:space-between;
        max-width:1240px;
        margin:0 auto;
        padding:5px;
    }

.footer .actions-panel{
        padding-left:20px;
        padding-right:20px;
    }

.progress-bar{
    position:relative;
    width:100%;
    margin:5px;
    overflow:hidden;
    border-radius:10px;
    box-shadow:0 0 5px -2px rgba(0,0,0,.5);
    box-sizing:border-box;
}

.progress-bar-summary{
    position:absolute;
    left:0;
    line-height:22px;
    right:0;
}

.progress-bar-active{
    height:22px;
    box-sizing:border-box;
    text-align:center;
}

.header{
    box-shadow:0 0 5px -2px rgba(0,0,0,.7);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#FFFFFF;
    z-index:100;
}

.header-content{
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
            align-items:center;
    -webkit-box-pack:justify;
            justify-content:space-between;
    max-width:1240px;
    margin:0 auto;
    padding:5px;
}

.log-in-wrapper{
    text-align:center;
}

.log-in-wrapper .close{
        position:absolute;
        right:13px;
        top:13px;
    }

.log-in-wrapper .or{
        margin:10px 0;
    }

.log-in-wrapper .text-input-wrapper{
        width:100%;
    }

.log-in-wrapper .register-link{
        display:block;
        margin-bottom:10px;
    }

.profile-photo-wrapper{
    text-align:center;
}

.profile-photo-wrapper .edit{
        position:absolute;
        top:5px;
        right:5px;
        background:#FFFFFF;
        opacity:.8;
        border-radius:50%;
    }

.user-profile{
    text-align:center;
}

.user-profile .name{
        margin:10px 0;
    }

.profile-photo{
    display:-webkit-box !important;
    display:flex !important;
    -webkit-box-align:center;
            align-items:center;
    -webkit-box-pack:center;
            justify-content:center;
    margin:auto;
    width:150px;
    height:200px;
    border-radius:20px;
    box-shadow:0 0 5px -2px rgba(0,0,0,.7);
    overflow:hidden;
    position:relative;
}

.profile-photo img{
        display:block;
    }

.app-wrapper.rating .main, .app-wrapper.rating .rating-wrapper{
        height:100%;
    }

.app-wrapper.rating .rating-wrapper{
        overflow:auto;
    }

.rating-wrapper table{
        width:100%;
    }

.rating-wrapper td, .rating-wrapper th{
        text-align:center;
        padding:5px;
        vertical-align:middle;
    }

.my_battles .main{
        -webkit-box-pack:start;
                justify-content:flex-start;
    }

.my_battles .battle-preview{
        display:-webkit-inline-box;
        display:inline-flex;
        width:calc((100% - 10px) / 2);
        margin-top:10px;
        position:relative;
        box-shadow:0 0 5px -2px rgba(0,0,0,.7);
        border-radius:5px;
        overflow:hidden;
    }

.my_battles .battle-preview .battle-image{
            align-self:center;
        }

.my_battles .battle-preview.checked .check-mark:before{
                    color:#6f9000;
                    opacity:1;
                    background:#FFFFFF;
                    border-radius:50%;
                }

.battles-actions-panel{
    margin-top:-50px;
    width:100%;
    background:#dedede;
    opacity:.7;
    border-radius:5px;
    box-shadow:0 0 5px -2px rgba(0,0,0,.7);
    padding:2px 5px;
    display:-webkit-box;
    display:flex;
    -webkit-box-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
            align-items:center;
}

.battles-actions-panel .action:before{
        font-size:16px;
    }

.battles-wrapper{
    display:-webkit-box;
    display:flex;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
            justify-content:space-between;
}

.battles-wrapper .check-mark{
        display:none;
    }

.battles-wrapper.check-marks .battles-actions-panel{
            margin-top:10px;
        }

.battles-wrapper.check-marks .check-mark{
            display:block;
            position:absolute;
            top:5px;
            right:5px;
            font-size:0;
            color:transparent
        }

.battles-wrapper.check-marks .check-mark:before{
                content:'\f058';
                display:block;
                height:22px;
                width:22px;
                opacity:.6;
                font-family:Font Awesome solid;
                font-size:22px;
                color:#dedede;
            }

.loader-wrapper{
    height:100%;
    display:-webkit-box;
    display:flex;
    -webkit-box-align:center;
            align-items:center;
    -webkit-box-pack:center;
            justify-content:center;
    flex-wrap:wrap;
}

.loader{
    margin:15px auto;
    position:relative;
    display:block;
    width:30px;
    height:30px;
    -webkit-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite
}

.loader:before{
        content:'\f3f4';
        font-family:Font Awesome;
        font-size:24px;
        color:grey;
        display:block;
        position:absolute;
        top:0;
        left:0;
        text-align:center;
        line-height:30px;
        width:100%;
        height:100%;
    }

@-webkit-keyframes spin{
    100%{
        -webkit-transform:rotate(360deg);
    }
}

@keyframes spin{
    100%{
        -webkit-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}

.loading{
    text-align:center;
}

.app-wrapper.new_battle{
    overflow:hidden;
    -ms-scroll-chaining:none;
        overscroll-behavior:none;
}

.app-wrapper.new_battle .main{
        height:100%;
    }

.new-battle-wrapper{
    height:100%;
    text-align:center;
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
    -webkit-box-align:center;
            align-items:center;
    width:100%;
}

.new-battle-photos-wrapper{
    display:-webkit-box;
    display:flex;
    height:100%;
    -webkit-box-pack:justify;
            justify-content:space-between;
    width:100%;
    position:relative;
}

.vs{
    position:absolute;
    display:-webkit-box;
    display:flex;
    z-index:1;
    -webkit-box-align:center;
            align-items:center;
    -webkit-box-pack:center;
            justify-content:center;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
    background:#FFFFFF;
    border-radius:50%;
    height:40px;
    width:40px;
    box-shadow:0 0 5px -2px rgba(0,0,0,.7);
}

.opponents-wrapper{
    margin:15px 0 10px;
    padding:0;
    height:100%;
    overflow:auto;
    width:100%;
    border-radius:10px;
    box-shadow:0 0 5px -2px rgba(0,0,0,.7);
}

.opponents-wrapper .empty{
        display:-webkit-box;
        display:flex;
        -webkit-box-align:center;
                align-items:center;
        box-sizing:border-box;
        height:100%;
        padding:15px;
    }

.opponents-wrapper.active{
        box-shadow:0 0 5px 0 #6f9000;
    }

.opponents-list li{
        padding:10px;
        box-sizing:border-box;
        display:-webkit-box;
        display:flex;
        width:100%;
        -webkit-box-align:center;
                align-items:center
    }

.opponents-list li:not(:last-of-type){
            border-bottom:1px solid #dedede;
        }

.opponents-list .remove{
        margin-left:auto
    }

.opponents-list .remove:before{
            content:'\f1f8';
            font-size:14px;
        }

.opponents-list .additional-info > span{
            margin-right:10px
        }

.opponents-list .additional-info > span:before{
                content:'';
                font-family:Font Awesome solid;
                font-size:14px;
                margin-right:5px;
                display:inline-block;
            }

.opponents-list .additional-info > span.rating:before{
                    content:'\f091';
                    color:#FFD700;
                }

.opponents-list .additional-info > span.wins-percent:before{
                    content:'\f541';
                    color:#6f9000;
                }

.opponents-list .additional-info > span.battles-qty:before{
                    content:'\f005';
                    color:orange;
                }

.list-item-photo{
    height:50px;
}

.list-item-info{
    margin:0 10px;
    text-align:left;
}

.new-battle-photo{
    position:relative;
    top:0;
    height:100%;
    -webkit-box-align:center;
            align-items:center;
    -webkit-box-pack:center;
            justify-content:center;
    display:-webkit-box;
    display:flex;
    right:0;
    -webkit-transition:all .3s;
    transition:all .3s;
    width:calc(50% - 7px);
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 0 5px -2px rgba(0,0,0,.7)
}

.new-battle-photo.opponent{
        position:absolute;
    }

.new-battle-photo.add, .new-battle-photo.del{
        opacity:.5
    }

.new-battle-photo.add:before, .new-battle-photo.del:before{
            content:'';
            position:absolute;
            display:block;
            top:50%;
            left:50%;
            -webkit-transform:translate(-50%, -50%);
                    transform:translate(-50%, -50%);
            color:#FFFFFF;
            font-size:40px;
            opacity:.5;
            font-family:Font Awesome solid;
        }

.new-battle-photo.add:before{
            content:'\f055';
        }

.new-battle-photo.del:before{
            content:'\f00d';
        }

.new-battle-photo.del:after{
            content:'';
            display:block;
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background:#ff0000;
            opacity:.3;
        }

.new-battle-photo.no-transition{
        -webkit-transition:none;
        transition:none;
    }

img{
    max-width:100%;
    max-height:100%;
    display:block;
}

body{
    overscroll-behavior-y:contain;
}

body *{
        -webkit-transition:all .3s;
        transition:all .3s;
    }

.app-wrapper{
    font-family:Comic Sans MS;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.title{
    display:block;
    text-align:center;
    font-size:24px;
    margin:15px;
}

.page-title{
    margin-top:20px;
}

.main{
    margin:0 auto;
    min-height:100%;
    box-sizing:border-box;
    display:-webkit-box;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
            flex-direction:column;
    -webkit-box-pack:center;
            justify-content:center;
    max-width:1240px;
    padding:calc(35px + 5px * 3) 10px
}

@media (min-width: 768px){

.battle-user{
        width:calc(50% - 10px)
}

    .footer .actions-panel{
        padding:10px;
    }

.header-content{
        padding:10px;
}

.main{
        padding:calc(35px + 10px * 3) 10px
}
    }

@media (min-width: 1025px){

.battle-user{
        width:calc(50% - 15px)
}

    .footer .actions-panel{
        padding:15px;
    }

.header-content{
        padding:15px;
}

.main{
        padding:calc(35px + 15px * 3) 15px
}
    }

@media (max-width: 767px){
    .logo img{
            height:25px
    }
        }
