/**
 * App component styles
 *
 * @author Yuriy Matviyuk
 */

@import "../global/actions-toolbar.scss";
@import "Registration.scss";
@import "battle/Battle.scss";
@import "global/SocialShare.scss";
@import "Footer.scss";
@import "ProgressBar.scss";
@import "Header.scss";
@import "./global/LogIn.scss";
@import "./global/Nav.scss";
@import "./global/CookiesBanner.scss";
@import "./global/ContactUs.scss";
@import "./global/Notifications.scss";
@import "./user/Profile.scss";
@import "./user/Rating.scss";
@import "./battle/MyBattles.scss";
@import "./global/Loader.scss";
@import "./battle/NewBattle.scss";

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

body * {
    transition: $transition-base;
}

.no-reload { // Disable chrome page reload on scroll bottom at the top of page
    overscroll-behavior-y: contain;
}

.app-wrapper {
    font-family: $font-family-base;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
}

.page-title {
    margin-top: 20px;
}

.main {
    margin: 0 auto;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $layout-max-width;
    padding: calc(#{$action-button-height} + #{$padding-sm-base} * 3) $padding-sm-content;

    @media (--tablet) {
        padding: calc(#{$action-button-height} + #{$padding-md-base} * 3) $padding-md-base;
    }

    @media (--desktop) {
        padding: calc(#{$action-button-height} + #{$padding-lg-base} * 3) $padding-lg-base;
    }
}
