/**
 * Battle component's styles
 *
 * @author Yuriy Matviyuk
 */

.user-container {
    display: flex;
    justify-content: space-between;
}

.battle-user {
    position: relative;
    cursor: pointer;
    width: calc(50% - #{$padding-sm-base});

    @media (--tablet) {
        width: calc(50% - #{$padding-md-base});
    }

    @media (--desktop) {
        width: calc(50% - #{$padding-lg-base});
    }

    &:before {
        content: '';
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        color: $color-white;
    }

    &:first-of-type:before {
        content: '1';
        background: #4A9000;
    }

    &:nth-of-type(2):before {
        content: '2';
        background: dodgerblue;
    }
}

.battle-body {
    padding: 10px;
    box-sizing: border-box;
    height: 100%;
}

.user-qty {
    position: relative;

    &:before {
        position: absolute;
        text-align: center;
        line-height: 30px;
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        font-size: 16px;
        top: 0;
        left: 0;
        font-family: $font-family-FA-solid;
    }
}

.user-likes:before {
    content: $fa-heart;
    color: $color-red;
}

.user-rating:before {
    content: $fa-trophy;
    color: gold;
}

.user-name {
    text-align: center;
    padding: 10px 0;
    display: block;
}

.user-likes,
.user-rating,
.likes-qty {
    padding: 7px 7px 7px 30px;
}

.battle-result {
    position: relative;
    display: flex;
    align-items: center;
}

.share-form {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.battle-wrapper {
    .react-swipeable-view-container {
        padding: 2px;
    }

    .user-photo {
        border-radius: 10px;
        box-shadow: $light-shadow;
        overflow: hidden;
    }

    .action.like {
        position: absolute;
        right: 0;
        top: 0;

        &:before {
            color: $color-red;
            font-weight: bold;
        }
    }

    .slider-area {
        width: calc(100% + 10px);
        margin-right: -10px;
    }

    .battle-slide {
        border-radius: $border-radius-sm;
        box-shadow: $light-shadow;

        &[aria-hidden=true] {
            width: calc(100% - 6px) !important; // Need to fix next battle slide crop
        }
    }
}

.SocialMediaShareButton:not(:first-of-type) {
    margin-left: 10px;
}
