/**
 * ProgressBar component's styles
 *
 * @author Yuriy Matviyuk
 */

.progress-bar {
    position: relative;
    width: 100%;
    margin: 5px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px -2px rgba(0,0,0,.5);
    box-sizing: border-box;
}

.progress-bar-summary {
    position: absolute;
    left: 0;
    line-height: 22px;
    right: 0;
}

.progress-bar-active {
    height: 22px;
    box-sizing: border-box;
    text-align: center;
}