/**
 * NewBattle component's styles
 *
 * @author Yuriy Matviyuk
 */
.app-wrapper.new_battle {
    overflow: hidden;
}

.new-battle-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-battle-photos-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.vs {
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $color-white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: $light-shadow;
}

.opponents-wrapper {
    margin: 15px 0 10px;
    height: 200px;
    padding: 0;
    overflow: auto;
    width: 100%;
    border-radius: $border-radius-sm;
    box-shadow: $light-shadow;

    .empty {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 100%;
        padding: 15px;
    }

    &.active {
        box-shadow: 0 0 5px 0 $drop-zone-active-border-color;
    }
}

.opponents-list {
    li {
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        width: 100%;
        align-items: center;

        &:not(:last-of-type) {
            border-bottom: $border-primary;
        }
    }

    .remove {
        margin-left: auto;

        &:before {
            content: $fa-trash;
            font-size: 14px;
        }
    }

    .additional-info {
        > span {
            margin-right: 10px;

            &:before {
                content: '';
                font-family: $font-family-FA-solid;
                font-size: 14px;
                margin-right: 5px;
                display: inline-block;
            }

            &.rating {
                &:before {
                    content: $fa-trophy;
                    color: $color-gold;
                }
            }

            &.wins-percent {
                &:before {
                    content: $fa-percentage;
                    color: $color-green;
                }
            }

            &.battles-qty {
                &:before {
                    content: $fa-star;
                    color: orange;
                }
            }
        }
    }
}

.list-item-photo {
    height: 50px;
}

.list-item-info {
    margin: 0 10px;
    text-align: left;
}

.new-battle-photo {
    position: relative;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 0;
    transition: $transition-base;
    width: calc(50% - 7px);
    border-radius: $border-radius-sm;
    overflow: hidden;
    box-shadow: $light-shadow;

    &.opponent {
        position: absolute;
    }

    &.add,
    &.del {
        opacity: .5;

        &:before {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $color-white;
            font-size: 40px;
            opacity: .5;
            font-family: $font-family-FA-solid;
        }
    }

    &.add {
        &:before {
            content: $fa-plus-circle;
        }
    }

    &.del {
        &:before {
            content: $fa-x;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $color-red;
            opacity: .3;
        }
    }

    &.no-transition {
        transition: none;
    }
}